<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Foreground</key>
	<dict>
		<key>R</key>
		<integer>191</integer>
		<key>G</key>
		<integer>191</integer>
		<key>B</key>
		<integer>191</integer>
	</dict>
	<key>Background</key>
	<dict>
		<key>R</key>
		<integer>29</integer>
		<key>G</key>
		<integer>35</integer>
		<key>B</key>
		<integer>39</integer>
	</dict>
	<key>Selection</key>
	<dict>
		<key>R</key>
		<integer>38</integer>
		<key>G</key>
		<integer>45</integer>
		<key>B</key>
		<integer>49</integer>
	</dict>
	<key>CurrentLine</key>
	<dict>
		<key>R</key>
		<integer>38</integer>
		<key>G</key>
		<integer>45</integer>
		<key>B</key>
		<integer>49</integer>
	</dict>
	<key>Keyword</key>
	<dict>
		<key>R</key>
		<integer>103</integer>
		<key>G</key>
		<integer>140</integer>
		<key>B</key>
		<integer>177</integer>
	</dict>
	<key>Comment</key>
	<dict>
		<key>R</key>
		<integer>59</integer>
		<key>G</key>
		<integer>57</integer>
		<key>B</key>
		<integer>71</integer>
	</dict>
	<key>String</key>
	<dict>
		<key>R</key>
		<integer>179</integer>
		<key>G</key>
		<integer>125</integer>
		<key>B</key>
		<integer>73</integer>
	</dict>
	<key>Predefined</key>
	<dict>
		<key>R</key>
		<integer>111</integer>
		<key>G</key>
		<integer>175</integer>
		<key>B</key>
		<integer>175</integer>
	</dict>
</dict>
</plist>
